@{
    ViewData["Title"] = "ex controller index page";
    Layout = "ExLayout";
}

@section footer
{

    <p>this is added to exlayout footer await</p>

}

@section header
{

    <p>this is added to exlayout header await</p>

}


<div> this is the @ViewData["Title"] </div>