
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoLayout</title>
</head>
<body>

    no layout used
    <partial name="_MenuPartialView" />
    @await Html.PartialAsync("_MenuPartialView");

</body>
</html>
